
body {
	background-color: #4A474E;
	color: white;
}

section h1, h2, h3, h4, h5, h6, label {
	color: white;
}

a i.fa-home {
	display: inline;
	font-size: 2.5em;
	margin-top: -5%;
}
.row {
	margin-top: 0;
	margin-bottom: 0;
}

#socialLinks div.row {
	display: inline-block;
}

.fb, .tweet, .pin {
	margin-bottom: 1%;
	margin-left: 1%;
	margin-bottom: 3%;
}

footer {
	background-color: #2A7FB8;
	padding: 25px;
	font-size: .8em;
	text-align: center;
}

#characters #burger {
	width: 10%;
	height: 40px;
	max-width: 50px;
	padding: 0;
	float:left;
	margin-left: 2%;
	margin-right: 1%;
}

#header h1 {
	position: relative;
	top: 10px;
}

#characters img {
	height: 575px;
	width: 90%;
	padding: 10%;
	border: none;
	max-width: 550px;
}

#characters h2 {
	margin-left: 2%;
}

#tag {
	width: 100%;
	margin-bottom: 3%;
	height: 20%;
}

#tag .tagline {
	margin-left: 55%;
	margin-top: -7%;
	color: #E58E3D;;
}

#tag div h2 {
	color: white;
	font-size: 1.5em;
	min-height: 125px;
	max-height: 125px;
	padding-top: 30px;
}

#tag div p {
	margin-top: -5%;
}

#tag div h1 {
	color: white;
	font-size: 6em;
	font-family: 'Indie Flower', cursive;
}

#characters div.column {
	text-align: center;
}

#characters {
	margin-bottom: 5%;
}

#characters div.row p {
	margin-left: 5px;
}

#characters #tina {
	padding: 6%;
}

.blue {
	background-color: #2A7FB8;

}

.red {
	background-color: #E84C3D;
}

.purple {
	background-color: #59589E;

}
.green {
	background-color: #9FB93E;
}

.orange {
	background-color: #E58E3D;
}

.top {
	color: #fff;
	margin-top: 0;
	margin-left: 50%;
}

.top:hover {
	color: #5F9FCF;
}

.home {
	float: right;
	margin: -55px 10% 0 0;
	color: #fff;
}

#bobs ul li.quote, #lindas ul li.quote, #tinas ul li.quote, #genes ul li.quote, #louises ul li.quote {
	font-size: 1.5em;
}

#bobs h2, #lindas h2, #tinas h2, #genes h2, #louises h2 {
	margin: 2% 0 2% 2%;
}

#bobs img, #lindas img, #tinas img, #genes img, #louises img  {
	width: 100%;
	height: 450px;
}

#bobs ul li.episode, #lindas ul li.episode, #tinas ul li.episode, #genes ul li.episode, #louises ul li.episode  {
	font-size: .8em;
	margin-bottom: 5%;
}

#bobs div ul a.button, #lindas div ul a.button, #tinas div ul a.button, #genes div ul a.button, #louises div ul a.button {
	background-color: #2A7FB8;
	display: inline-block;
}

#bobs div ul a.button:hover, #lindas div ul a.button:hover, #tinas div ul a.button:hover, #genes div ul a.button:hover, #louises div ul a.button:hover {
	background-color: #1c577f;
	display: inline-block;
}

#bobs div.each, #lindas div.each, #tinas div.each, #genes div.each, #louises div.each {
	margin-top: 5%;
	margin-left: 5%;
}

#bobs div ul, #lindas div ul, #tinas div ul, #genes div ul, #louises div ul {
	list-style-type: none;
	padding: 15px;
}

#bobs div.quotesRow, #lindas div.quotesRow, #tinas div.quotesRow, #genes div.quotesRow, #louises div.quotesRow  {
	margin-top: -2%;
}

#bobs i.fa, #lindas i.fa, #tinas i.fa, #genes i.fa, #louises i.fa   {
	margin-left: 10%;
}


@media screen and (max-width: 800px) {
  	#characters img {
  		height: 325px;
  		max-width: 350px;
  	}
  	#tag div h1 {
    	font-size: 3.6em;
		font-weight: bold;
		margin-top: 15%;
  	}
  	#tag div h2 {
    	font-size: 1.2em;
    	min-height: 100px;
		max-height: 100px;
  	}

  	#tag div p {
  		margin-top: 10%;
    	font-size: 1em;
    	min-height: 100px;
		max-height: 100px;
  	}

	#bobs img, #lindas img, #tinas img, #genes img, #louises img  {
		width: 100%;
		height: 300px;
	}
	#bobLikes, #lindaLikes, #tinaLikes, #geneLikes, #louiseLikes  {
		width: 80%;
		font-size: .6em;
		padding: 1em;
		padding-right: 3em;
		margin-right: 5%;

	}
	#bobDislikes, #lindaDislikes, #tinaDislikes, #geneDislikes, #louiseDislikes  {
		width: 80%;
		font-size: .6em;
		padding: 1em;
		padding-right: 4em;
	}
	
	#bobs div label.fa, #lindas div label.fa, #tinas div label.fa, #genes div label.fa, #louises div label.fa  {
		font-size: .8em;

	}
	#bobs div.quotesRow, #lindas div.quotesRow, #tinas div.quotesRow, #genes div.quotesRow, #louises div.quotesRow   {
		text-align: center;
	}

	#tag {
		margin-bottom: 0;
	}

	#tag #header h1 {
		font-size: 3em;
		margin-top: 3%;
	}

	#tag #header img {
		width: 45px;
		margin-top: 6%;
	}

@media screen and (max-width: 400px) {
	#tag #header img {
		width: 45px;
		margin-top: 10%;
	}

}

